# Distribution / packaging
.env
.Python
venv/
env/
*.pyc
*.sqlite3
.idea/
# Project asset folders
media/
# Editor directories and files
.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class